*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#div1{
    position: absolute;
    width: 360px;
    height: 200px;
    border: 2px solid black;
    margin-top: 25px;
    margin-left: 15px;
    padding-left: 7px;
    padding-top: 7px;
}
#div2{
    position: absolute;
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: rgb(253, 253, 253);
    padding-left: 7px;
    padding-top: 7px;
    top: 100px;
    left: 310px;
    right: 50%;
    width: 200px;
    height: 300px;
    border: 2px solid black;
} 
#div3{    
    position: absolute;
    position: relative;
    width: 600px;
    height: 150px;
    top: 300px;
    margin-left: -150px;
    z-index: 2;
    padding-left: 7px;
    padding-top: 7px;
    display: inline-block;
    background-color: rgb(253, 253, 253);
    border: 2px solid black;
}
#div4{
    width: 150px;
    height: 350px;
    position: absolute;
    position: relative;
    z-index: 3;
    left: -110px;
    top: 10px;
    padding-left: 7px;
    padding-top: 7px;
    display: inline-block;
    background-color: rgb(253, 253, 253);
    border: 2px solid black;
    
}